<div class="two-across">

  <section class="card">
    <div class="card-content">
      <div class="card-title">Employees</div>
         <ul class="collection">
            <li class="collection-item"
                *ngFor="let employee of empleados"
                (click)="selectVideo(employee)"
                [class.hilite]="employee === selectedVideo">
                <app-wallschild [empleados]="employee"><!--204--></app-wallschild>
                <strong>{{ employee.author }} : </strong>
                              {{employee.title}}
            </li >
          </ul>
      </div>
  </section>
  <section class="card">
    <div class="card-content">
      <div class="card-title">
          {{selectedVideo.author}}
      </div>
    </div>
  </section>

</div>
