<!--<div class="two-across"> -->
  <div>

  <header style="margin-top: 5px;">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li routerLinkActive="green-background">
            <a routerLink="/payroll">Payroll</a>
          </li>
          <li routerLinkActive="green-background">
            <a routerLink="/pavers">Pavers</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div>
    <router-outlet></router-outlet>
    <div>Fake Copyright ABC 2057</div>
  </div>


  <shared-box></shared-box><!-- 104-5 -->





</div>
